SistemaPizzaria/.vs/SistemaPizzaria/FileContentIndex/1c27fb42-3648-46a0-a672-063b5d1662bc.vsidx
SistemaPizzaria/.vs/SistemaPizzaria/FileContentIndex/1e8afb8d-983b-4ab0-8272-6cceda1cc48e.vsidx
SistemaPizzaria/.vs/SistemaPizzaria/FileContentIndex/5b553c1b-52fd-4132-8299-2d65146fe660.vsidx
SistemaPizzaria/.vs/SistemaPizzaria/FileContentIndex/eea93f38-653d-44cd-9b41-e7c77078ccec.vsidx
SistemaPizzaria/.vs/SistemaPizzaria/FileContentIndex/ef9ec7f4-0ef1-454a-aa73-bef410f14c1e.vsidx
SistemaPizzaria/.vs/SistemaPizzaria/FileContentIndex/26c4e537-1754-43e1-a933-f646524dc85e.vsidx
